<div class="row d-flex justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card c1 shadow-0">
            <div class="card-body p-4">
                {% for comment in comments %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <p>{{ comment.name | capitalize }}</p>
                            <p class="comment-body">{{ comment.body | capitalize }}</p>

                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25" height="25">
                                    <p class="small mb-0 ms-2">Jane Doe</p>
                                </div>

                                <div class="d-flex flex-row align-items-center">
                                    <p class="small text-muted mb-0">Upvote?</p>
                                    <i class="far fa-thumbs-up mx-2 fa-xs text-body" style="margin-top: -0.16rem;"></i>
                                    <p class="small text-muted mb-0">3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
